	
		<div style="margin: 15px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">注册码</label>
					<div class="layui-input-block">
						<input type="text" name="licenseCode" lay-verify="required"  autocomplete="off" class="layui-input">
					</div>
				</div>
			
				<div class="layui-form-item">
					<label class="layui-form-label">使用次数</label>
					<div class="layui-input-block">
						<select lay-verify="required" lay-filter="usedCount" name="usedCount">
								 <option value='0'>0</option>
								 <option value='1'>1</option>
							</select>
					</div> 
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">是否可用</label>
					<div class="layui-input-block">
						<select lay-verify="required" lay-filter="licenseStatus" name="licenseStatus">
								 <option value='Y'>可用</option>
								 <option value='N'>禁用</option>
							</select>
					</div> 
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">有效期</label>
					<div class="layui-input-block">
						<div class="layui-input-inline">
							<input type="text" lay-verify="pass" name="expireTime" id="date"  placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})"> 
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">数据上传</label>
					<div class="layui-input-block">
						<select lay-verify="required" lay-filter="licenseUpload" name="licenseUpload">
								 <option value='Y'>允许数据上传</option>
								 <option value='N'>禁止数据上传</option>
							</select>
					</div> 
				</div>
				
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>