<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.guludai.admin.domain.dataway.dao.BaseAreaFactoryEntityMapper">
	<resultMap id="BaseResultMap" type="cn.guludai.admin.domain.dataway.entity.BaseAreaFactoryEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="erp_factory_code" jdbcType="CHAR" property="erpFactoryCode" />
		<result column="erp_factory_name" jdbcType="VARCHAR" property="erpFactoryName" />
		<result column="phone" jdbcType="CHAR" property="phone" />
		<result column="mail" jdbcType="CHAR" property="mail" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="version" jdbcType="BIGINT" property="version" />
		<result column="data_status" jdbcType="CHAR" property="dataStatus" />
		<result column="disk_status" jdbcType="CHAR" property="diskStatus" />
	</resultMap>
	<sql id="Base_Column_List">
		id, erp_factory_code, erp_factory_name, phone, mail, address, create_time, update_time,
		version, data_status, disk_status
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_erp_factory
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from base_erp_factory
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.guludai.admin.domain.dataway.entity.BaseAreaFactoryEntity">
		insert into base_erp_factory (id, erp_factory_code, erp_factory_name,
		phone, mail, address, create_time,
		update_time, version, data_status,
		disk_status)
		values (#{id,jdbcType=BIGINT}, #{erpFactoryCode,jdbcType=CHAR}, #{erpFactoryName,jdbcType=VARCHAR},
		#{phone,jdbcType=CHAR}, #{mail,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT}, #{dataStatus,jdbcType=CHAR},
		#{diskStatus,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.guludai.admin.domain.dataway.entity.BaseAreaFactoryEntity">
		insert into base_erp_factory
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="erpFactoryCode != null">
				erp_factory_code,
			</if>
			<if test="erpFactoryName != null">
				erp_factory_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="mail != null">
				mail,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="dataStatus != null">
				data_status,
			</if>
			<if test="diskStatus != null">
				disk_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="erpFactoryCode != null">
				#{erpFactoryCode,jdbcType=CHAR},
			</if>
			<if test="erpFactoryName != null">
				#{erpFactoryName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=CHAR},
			</if>
			<if test="mail != null">
				#{mail,jdbcType=CHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="version != null">
				#{version,jdbcType=BIGINT},
			</if>
			<if test="dataStatus != null">
				#{dataStatus,jdbcType=CHAR},
			</if>
			<if test="diskStatus != null">
				#{diskStatus,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.guludai.admin.domain.dataway.entity.BaseAreaFactoryEntity">
		update base_erp_factory
		<set>
			<if test="erpFactoryCode != null">
				erp_factory_code = #{erpFactoryCode,jdbcType=CHAR},
			</if>
			<if test="erpFactoryName != null">
				erp_factory_name = #{erpFactoryName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=CHAR},
			</if>
			<if test="mail != null">
				mail = #{mail,jdbcType=CHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=BIGINT},
			</if>
			<if test="dataStatus != null">
				data_status = #{dataStatus,jdbcType=CHAR},
			</if>
			<if test="diskStatus != null">
				disk_status = #{diskStatus,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.guludai.admin.domain.dataway.entity.BaseAreaFactoryEntity">
		update base_erp_factory
		set erp_factory_code = #{erpFactoryCode,jdbcType=CHAR},
		erp_factory_name = #{erpFactoryName,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=CHAR},
		mail = #{mail,jdbcType=CHAR},
		address = #{address,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		version = #{version,jdbcType=BIGINT},
		data_status = #{dataStatus,jdbcType=CHAR},
		disk_status = #{diskStatus,jdbcType=CHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!--根据条件查询-->
	<select id="findBaseErpFactory"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_erp_factory f where f.data_status = 'Y' AND f.disk_status = 'Y'
	</select>
	 
	 <!-- 分页查询 -->
	 <select id="selectBaseAreaFactoryEntityPage" resultMap="BaseResultMap" >
	 	select
		<include refid="Base_Column_List" />
		from base_erp_factory f where f.data_status = 'Y' AND f.disk_status = 'Y'
		 <if test="erpFactoryName!=null and erpFactoryName!='' ">
		 	and erp_factory_name = #{erpFactoryName}
		 </if>
		 <if test="limit != null and limit != '' ">
				limit  #{limit} OFFSET #{offset}
		 </if>
	 </select>
	 
	 <!--厂商总数  -->
	 <select id="selectBaseAreaFactoryEntityPageCount" resultType="java.lang.Integer">
	 	select
		 count(1)
		from base_erp_factory f where f.data_status = 'Y' AND f.disk_status = 'Y'
		 <if test="erpFactoryName!=null and erpFactoryName!='' ">
		 	and erp_factory_name = #{erpFactoryName}
		 </if>
		  
	 </select>
	 
	 <!--  查询单个厂商信息 -->
	 <select id="selectErpFactoryReqByerpFactoryCode" resultMap="BaseResultMap" >
	 	SELECT <include refid="Base_Column_List" /> FROM base_erp_factory WHERE erp_factory_code = #{erpFactoryCode} 
	 </select>
	 
	 <!-- 逻辑册除 -->
	 <update id="deleteBaseErpFactoryReqByerpFactoryCode" parameterType="cn.guludai.admin.web.resource.request.BaseErpFactoryReq">
	 	UPDATE base_erp_factory p SET 
		p.update_time = NOW() ,
		p.version = p.version +1, 
		p.data_status = 'N'
		WHERE p.erp_factory_code= #{erpFactoryCode}
	 </update>
	 <!-- 更新厂商信息 -->
	<update id="updateBaseErpFactoryReqByerpFactoryCode" >
		update base_erp_factory
		<set>
			<if test="erpFactoryName != null and erpFactoryName!=''">
				erp_factory_name = #{erpFactoryName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone!=''">
				phone = #{phone,jdbcType=CHAR},
			</if>
			<if test="mail != null and mail!=''">
				mail = #{mail,jdbcType=CHAR},
			</if>
			<if test="address != null and address!=''">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="updateTime == null">
				update_time =NOW(),
			</if>
			<if test="version == null">
				version = version+1,
			</if>
			<if test="dataStatus != null">
				data_status = #{dataStatus,jdbcType=CHAR},
			</if>
			<if test="diskStatus != null">
				disk_status = #{diskStatus,jdbcType=CHAR},
			</if>
		</set>
		where erp_factory_code= #{erpFactoryCode}
	</update>
	
</mapper>