
		<div style="margin: 15px;">
			<form class="layui-form" action="">
				<input type="text" style="display: none;"  name="erpFactoryCode" />	
				<div class="layui-form-item">
					<label class="layui-form-label">厂商名</label>
					<div class="layui-input-block">
						<input type="text" name="erpFactoryName" lay-verify="required" placeholder="ERP厂商名称" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱</label>
					<div class="layui-input-block">
						<input type="text" name="mail" placeholder="厂商联系邮箱" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">电话</label>
					<div class="layui-input-block">
						<input type="text" name="phone"  placeholder="厂商联系电话" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">地址</label>
					<div class="layui-input-block">
						<input type="text" name="address" placeholder="厂商公司地址" autocomplete="off" class="layui-input">
					</div>
				</div>
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>